*{
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    height: 50%;
    background-color:wheat;
    display: flex;
   justify-content: center;
   align-items: center; 
}
.top img {
 width: 100%;
 height: 50%;
}
.top p{
    color: rgb(166, 56, 98);
    font-size: 30px;
    font-weight: bolder;
}
.out{
    width: 100%;
    height: 50%;
    background-color:black;
    display: flex;
   justify-content: center;
   align-items: center; 
   color: wheat;
   gap: 200px;
}
.out button{
    width: 155px;
    height: 155px;
}
.out button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
#no{
    background-image: url("no.png");
    background-size: cover; 
    background-color: black;
    border: none;
}
#yes{
    background-image: url("yes.png");
    background-size: cover; 
    background-color: black;
    border: none;
}

@media (min-width: 600px) {
    .out button {
        height: 150px;
    }
}





